<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
  <button (click)="bookmark()" *ngIf="toggle" class="material-icons bookmark ">turned_in</button>
   <button (click)="bookmark()" *ngIf="!toggle" class="material-icons bookmark">bookmark_border</button>
  </div>   
  <br>
  <br>
  <table class="table">
    <thead>
      <th>Comments</th>
      <th>Vote Count</th>
      <th>upVote</th>
      <th>News Details</th>
    </thead>
    <tbody>
    <tr *ngFor="let abc of dataSource  ; let i = index  ">
      <!-- | paginate: { itemsPerPage: 5, currentPage: p } ;  -->
      <td data-label="Comment">
        {{abc.num_comments}}</td>
        <td data-label="votes">{{abc.points}}</td>
       <td data-label="author"> 
          <button class="material-icons down"  (click)="voteChange(i)">
            arrow_drop_up
         </button>
       </td>
      <td data-label="tittle" class="tittle">
        <span class="description">{{abc.title}}</span>
        <span class="url"> <a style ="text-decoration: none;color: #6b6d70;;" href={{abc.url}}>({{abc.url  | truncate : 18 }})</a>  by</span>
        <span class="author" style=" font-weight: bold;"> {{abc.author}} </span> 
        <span class="time">{{datediff[i]}} years ago</span>
        <button  class= "hide"  (click)="filterNews(abc.objectID)">[<span style = "font-weight: bolder;">hide</span>]</button>
      </td>
    </tr>
   </tbody>
  </table>
  <p style="color:orangered ;float:right;" >
    <button class="hide" style="color:orangered" (click)="decrement()">Previous</button>|<button class="hide" style="color:orangered" (click)="increment()">Next</button>
  </p> 
  <!-- <pagination-controls  
    class="indicator"                
    autoHide="true"
    responsive="true"
    previousLabel="Previous"
    maxSize="10"
    nextLabel="Next" (pageChange)="p = $event"></pagination-controls> -->
</body> 
<br>
<br>
<br>
</html>
